.heroContainer {
  position: relative;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313d;
}

.left {
  width: 55%;
}

.description {
  margin-top: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
}

.btn {
  margin-top: 40px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 13px 40px;
  border-radius: 28px;
  background-color: #2bd0d0;
}

.btn:hover {
  color: white;
  background-color: #9ae3e3;
  cursor: pointer;
}

.hero-img {
  position: absolute;
  right: -190px;
  top: -60px;
}

@media screen and (max-width: 375px) {
  .heroContainer {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
  }

  .hero-img {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    width: 330px;
    margin-top: 0px;
  }

  .hero-img img {
    width: 510px;
  }

  h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .description {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .btn {
    justify-self: center;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
